@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Space Grotesk';
}
html, body{
  min-height: 100%;
  min-width: 100%;

}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 25px;
}
#logo {
  width: 35px;
  height: 34px;
  margin: 12px;
  justify-content: right;
  background-size: cover;
  border: solid 5px white; 
  border-radius: 10%;
  background-color: salmon;
} 
.container-grid > .a > img {
  height: 100px;
}
#krusty-krab {
  width: 275px;
  height: 275px;
  border: solid 10px white; 
  border-radius: 10%;
  box-shadow: 5px 5px 20px 5px #000;
}
#restaurant-card {
  width: 275px;
  height: 275px;
  border: solid 10px white; 
  border-radius: 10%;
  box-shadow: 5px 5px 20px 5px #000;
} 
header{
margin: auto;

}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: salmon;
  width: 100%;
}

.homepage {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b297e143-e206-4a8f-8b5c-59dbc26a99d5/ddtdlgv-48ac2b91-bab5-41fe-a2ca-7b80cc57c92d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IyOTdlMTQzLWUyMDYtNGE4Zi04YjVjLTU5ZGJjMjZhOTlkNVwvZGR0ZGxndi00OGFjMmI5MS1iYWI1LTQxZmUtYTJjYS03YjgwY2M1N2M5MmQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mrMOlioaOnl4YVoeaOz9lzHDZFxzZxF_oBI6Eu4_rLs');
  background-color: #89CFF0;
  background-size: cover;
  background-position: center;
  height: 100%;
  /* width: 100vw; */
  object-fit: fill;
  margin: 0;
  padding: 35px;
}

#home {
  text-shadow: 0 0 15px white;
  font-size: 40px;
}

.login {
  background-image: url('https://wallpapercave.com/wp/wp2891332.jpg');
  height: 100vh;
  object-fit: fill;
  margin: 0;
  padding: 35px;
}

.login-form {
  background-color: white;
  padding: 5px;
  margin: 10px 200px 25px 200px;
  border: solid 5px black; 
  border-radius: 1em;
  box-shadow: 5px 5px 20px 5px #000;
}
.submit-form {
  padding: 10px;
  margin: 0 auto;
}

.restaurant{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4d87b0f4-ae26-4b18-835c-af3a7ce1349f/dde47yj-aea81a6b-3874-4ed8-aea3-26a456c7a23f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRkODdiMGY0LWFlMjYtNGIxOC04MzVjLWFmM2E3Y2UxMzQ5ZlwvZGRlNDd5ai1hZWE4MWE2Yi0zODc0LTRlZDgtYWVhMy0yNmE0NTZjN2EyM2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.VeuUbwR7x4o7yk_8D-jPMoTPXD5mVmMEdbJ6CEG9B9s');
  background-size: cover;
  object-fit: fill;
  margin: 0;
  padding: 10px;
  height: 100%;
  
}

.menu{
  display: flex;
  justify-content: center;
  background-color: rgb(210,43,43,0.4);
  
}

.menu-details{
  opacity: 0%;
  display: flex;
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px;
  width: 420px;
  position: absolute;
  z-index: 2;
  justify-content: center;
}

.menu:hover{
  background-color: rgb(210,43,43,1);
  transition-duration: 1s;
}
.menu:hover .menu-details{
  opacity: 100%;
  transition-duration: 0.5s;
}

.userReview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  border-width: 2px;
  /* background-color: blue; */
  margin: 10px 40px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.4);
}

.name-pfp{
  /* background-color: aqua; */
  width: 80%;
  text-align: left;
}

.userReview > img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: none;
  padding: 0%;
  margin: 25px 20px 0 0;
}

.userReview > p{
  background-color: beige;
  width: 50%;
  margin: 0px;
  padding: 40px 0px;
}

.name-pfp > img{
  width: 10px;
  height: 10px;
}

.mappedReviews {
  height: 320px;
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;
  margin-bottom: 10%;
  margin-top: 5%;

}


@media screen and (max-height: 900px) {
  .mappedReviews {
    height: 250px;
  }
}

.register-form {
  background-color: white;
  padding: 5px;
  margin: 25px 200px 25px 200px;
  border: solid 5px black; 
  border-radius: 1em;
  box-shadow: 5px 5px 20px 5px #000;
}

.register-form li {
  list-style: none;
  padding: 2px;
}

.reviewArea{
  background-color: rgb(210,43,43,0);
  border: none;
  font-family: 'Space Grotesk';
  resize: none;
  text-decoration: none;
  outline: none;
  display: block;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: medium;
  width: 100%;
}

.hiddenButton{
  display: none;
}

.editTextArea{
  background-color: rgb(255,255,255,0.4);
}

.submitEdit{

  
}


.music {
  opacity: 0;
  float: left;
}

.myLeg {
  height: 20px;
}
