.App {
  text-align: center;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-grid > .a > img {
  height: 100px;
}

img {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}