.App {
  text-align: center;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 25px;
}

.container-grid > .a > img {
  height: 100px;
}

img {
  width: 275px;
  height: 275px;
  border: solid 10px white; 
  border-radius: 10%;
  box-shadow: 5px 5px 20px 5px #000;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: salmon;
}

nav:hover {
  
}

.homepage {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp6864010.jpg&f=1&nofb=1&ipt=7e4f726c77cb216b8c121c68aa9f392e08425b406dfedb3c33656e4b1f4014ea&ipo=images');
  background-color: #89CFF0;
  height: 100vh;
  object-fit: fill;
  margin: 0;
  padding: 35px;
}

#home {
  text-shadow: 0 0 15px white;
  font-size: 40px;
}

.login {
  background-image: url('https://wallpapercave.com/wp/wp2891332.jpg');
  height: 100vh;
  object-fit: fill;
  margin: 0;
  padding: 35px;
}

.login-form {
  background-color: white;
  padding: 5px;
  margin: 10px 200px 25px 200px;
  border: solid 5px black; 
  border-radius: 1em;
  box-shadow: 5px 5px 20px 5px #000;
}
.submit-form {
  padding: 10px;
  margin: 0 auto;
}

.menu{
  display: block;
  background-color: rgb(210,43,43,0.4);

}

.menu-details{
  opacity: 0%;
  display: block;
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px;
  width: 420px;
  position: absolute;
}

.menu:hover{
  background-color: rgb(210,43,43,1);
  transition-duration: 1s;
}
.menu:hover .menu-details{
  opacity: 100%;
  transition-duration: 0.5s;
}
